*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lekton", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #1f1e1e;
  background-color: rgb(255, 255, 255);
}
/* header */
header {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(36,34,0);
  background: linear-gradient(135deg, rgba(36,34,0,0.8883928571428571) 0%, rgba(178,195,37,0.8575805322128851) 53%, rgba(0,212,255,1) 100%);
  padding: 20px 50px;
}
header > h1 > a{
  text-decoration: none;
  color: inherit;
}
nav > ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
li > a {
  text-decoration: none;
  font-size: 130%;
  color: white;
  margin-right: 30px;
  transition: all 1.5s;
}
li > a:hover {
  padding: 3px 10px;
  background-color: black;
  border-radius: 10px;
}
nav li {
  list-style: none;
}
/* end header */





/*main*/
main {
  display: flex;
  flex-direction: row;
  min-height: 92.2vh;
}
.left__section {
  max-width: 300px;
  padding: 30px;
  background-color: yellowgreen;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.1);
  clip-path: polygon(0 0, 100% 0, 88% 93%, 0 100%);
  animation: bg-change 6s ease-in forwards infinite alternate-reverse;

}
#about {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
#about img {
  border-radius: 20%;
  height: 200px;
  width: 200px;
  transition: all 1.3s;
}
#about img:hover {
  height: 220px;
  width: 220px;
  outline: 2px solid yellow;
  cursor: pointer;
  outline-offset: 5px;
}
.right__section {
  background-image: url(../public/right-bg.png);
  background-position: 200px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  background-color: rgba(149, 245, 162, 0.63);
  clip-path: polygon(100% 0, 100% 38%, 82% 100%, 0 100%, 0 0);
}
.right__section > section {
  padding: 30px 0 0 40px;
}
.right__section > section > ul > li > ul{
  text-transform: uppercase;
  list-style-type: none;  
  
}
.right__section address{
  color: white;
}
.start__page p {
  margin-top: 20px;
  font-size: 130%;
}
.skills > ul {
  margin-top: 20px;
}
.skills__second-list {
  margin-top: 30px;
}




/* tables */
.expirience__table,
.study__table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.expirience__table thead tr,
.study__table thead tr {
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;
}
.expirience__table th,
.expirience__table td,
.study__table th,
.study__table td {
  padding: 12px 15px;
}
.expirience__table tbody tr,
.study__table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.study__table tbody tr {
  height: 96px;
}
.expirience__table tbody tr:nth-of-type(even),
.study__table tbody tr:nth-of-type(even) {
  background-color: #f3d3d3;
}
.expirience__table tbody tr:last-of-type,
.study__table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
/* end tables */



/* hoby */


.hoby p {
  margin-top: 20px;
}
details {
  display: inline-block;
  margin-top: 25px;
  
}
details h3 {
  display: inline;
}
summary{
  cursor: pointer;
}
summary::marker {
  content: '';
}
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
iframe {
  border: none;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.1);
}


/* end hoby */


/* contact */


.contact > ul {
  margin-top: 20px;
}
.contact__box {
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  margin-top: 20px;
}
.contact__box > h3 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.contact__box > h3::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71;
}
.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color:rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}
.field:hover {
  background-color:rgba(0, 0, 0, 0.1)
}
.field:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}
.area {
  min-height: 150px;
}
.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #2ecc71;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  transition: .3s;
}
.btn:hover {
  background-color: #27ae60;
}

/* end contact */





/*end main*/


/*footer*/
footer {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2), -1em 0 .4em rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 15px 10px;
  background-color: turquoise;
  border-radius: 10px;
  animation: form-top-to-bottom 2s ease-in forwards infinite alternate-reverse;
}

/*end footer*/




/* animations */
@keyframes form-top-to-bottom {
  0%{
transform: translateX(0%);
  }
  10%{
    transform: translateX(-10%);
  }
  20% {
    transform: translateX(-20%);
  }
  30% {
    transform: translateX(-30%);
  }
  40% {
    transform: translateX(-40%);
  }
  50%{
    transform: translateX(-50%);
  }
  60% {
    transform: translateX(-60%);
  }
  70% {
    transform: translateX(-70%);
  }
  80% {
    transform: translateX(-80%);
  }
  90% {
    transform: translateX(-90%);
  }
  100%{
    transform: translateX(-100%);
  }
}
@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

@keyframes bg-change {
  0% {
    background: #ee6055;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #aaf683;
  }
  75% {
    background: #ffd97d;
  }
  100% {
    background: #ff9b85;
  }
}
/* end animations */