@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  /* font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif; */
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.6rem;
  font-weight: 800;
}

h4 {
  font-size: 1.4rem;
  font-weight: 600;
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: #d8d8d8;
}

button {
  font-size: 0.8rem;
  font-weight: 700;
  font-family: "Neucha", cursive;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}

hr {
  width: 40px;
  background-color: #fb774b;
}

.star i {
  font-size: 0.8rem;
  color: gold;
}

/*  NAVBAR */
.navbar {
  font-size: 28px;
  top: 0;
  left: 0;
}

.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: black;
  transition: 0.3s ease;
}

#cart {
  padding: 0 0px;
}

#cart i {
  transition: transform 500ms ease-out
}

#cart:hover i {
  transform: rotate(10deg);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover,
.navbar i.active {
  color: coral;
}

.navbar i {
  font-size: 2rem;
  padding: 0 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

#header-search i {
  transition: transform 500ms ease-out
}

#header-search:hover i {
  transform: rotate(10deg);
}

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

#bar {
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  color: black;
}

#bar:hover,
#bar.active {
  color: #fff;
}

.navbar-nav>li:nth-child(7) {
  position: relative;
}

.navbar-nav>li:nth-child(7) a {
  color: inherit;
  padding: 0 0;
}

.navbar-nav>li>span {
  display: flex;
  position: absolute;
  top: -21px;
  right: -19px;
  font-size: 20px;
  height: 29px;
  width: 29px;
  background: coral;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 5px 16px;
  justify-content: center;
}

#navbarSupportedContent>ul {
  line-height: 1;
}

.btn-group #defaultDropdown {
  padding-top: 0;
  background: transparent;
  color: black;
  border: none;
}

.btn-group #defaultDropdown:focus {
  box-shadow: none;
}

.btn-group .dropdown-menu {
  min-width: auto;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.85);
}

.btn-group .dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -10px;
  margin-top: 0.125rem;
}

.btn-group .dropdown-menu .logout-btn {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  color: black;
  padding: 0;
  border: none;
  outline: none;
}

.btn-group .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: none;
  border-right: none;
  border-bottom: 0;
  border-left: none;
}

#home {
  background-image: url("../images/home-bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home__sentence {
  display: flex;

}

.typing {
  position: relative;
}

.typing::after {
  content: '';
  position: absolute;
  right: -4px;
  width: 1px;
  height: 100%;
  border-right: 2px solid black;
  animation: blink 0.5s infinite ease;

}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#home span {
  color: coral;
}

#home h1 {
  font-size: 3.5rem;
}

#home p span {
  color: coral;
  font-size: 2.1rem;
}

.one {
  position: relative;
}

#new .one:nth-child(1) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

#new .one:nth-child(2) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#new .one:nth-child(3) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

#new .one img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#new .one .details {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}

#new .one:hover .details {
  background-color: rgba(245, 178, 178, 0.3);
}

#new .one .details button {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  color: #2a2a2a;
  background: none;
  text-transform: uppercase;
  border-bottom: 1px solid #2a2a2a;
  padding: 2.5px;
  transform: translateY(70px);
  transition: 0.3s ease;
}

#new>div>div>div>button {
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}

#new .one .details button:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

#new .one .details h2 {
  color: #5e4747;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}

.product {
  cursor: pointer;
  margin-bottom: 2rem;
}

.product img {
  transition: 0.3s all;
}

.product:hover img {
  opacity: 0.7;
}

.product .buy-btn {
  background: #fb774b;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
}

.product:hover .buy-btn {
  transform: translateY(0);
  opacity: 1;
}

.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: rgb(249, 228, 148);
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
}

.product:hover .store-item-icon {
  transform: translate(0, 0);
  color: #fff;
}

#banner {
  background-image: url("../images/banner-bg.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: top 70px center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#banner h4 {
  color: #052c42;
}

#banner h1 {
  color: rgb(14, 46, 54);
}

#banner button {
  background-color: #fb774b;
}

footer {
  background-color: #222222;
}

footer h5 {
  color: #d8d8d8;
  font-weight: 700;
  font-size: 1.2rem;
}

footer li {
  padding-bottom: 4px;
}

footer li a {
  text-decoration: none;
  font-size: 1rem;
  color: #999;
}

footer li a:hover {
  color: #d8d8d8;
}

footer p {
  color: #999;
  font-size: 1rem;
}

footer .copyright a {
  color: black;
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
}

footer .copyright a:hover {
  color: white;
  background-color: #fb774b;
}

footer .copyright i {
  padding-top: 7px;
}

/* BLOG */
#blog-container .post .post-img {
  overflow: hidden;
  cursor: pointer;
}

#blog-container .post .blog-img {
  max-height: 183px;
}

#blog-container .post img {
  transition: 0.3s ease;
}

#blog-container .post:hover img {
  transform: scale(1.3) rotate(10deg);
  opacity: 0.8;
}

#blog-container .post h3 {
  font-size: 1.2rem;
  transition: 0.3s ease;
  cursor: pointer;
}

#blog-container .post a {
  text-decoration: none;
  color: inherit;
}

#blog-container .post p {
  font-size: 15px;
  color: #afaaaa;
}

#blog-container .post:hover h3 {
  color: #fb774b;
}

.blog__item>div>p {
  max-width: 81%;
  margin: 0 auto;
  text-align: justify;
}

.blog__item>div>p+p {
  padding-top: 24px;
}

.blog__item>div>ul {
  max-width: 81%;
  margin: 0 auto;
  text-align: justify;
}

.blog__item>div>ul>li {
  padding-top: 24px;
}

.blog__item>div>.row {
  max-width: 81%;
  border-top: 1px solid #e6e6e6;
}

.blog__item>div>.row>div>a {
  text-decoration: none;
  padding-right: 5px;
  color: inherit;
  transition: 0.4s ease;
}

.blog__item>div>.row>div:nth-child(1)>a:hover {
  color: #fb774b;
}

.blog__item>div>.row>div:nth-child(2)>a:hover {
  transform: translateY(-5px);
}

.blog-btn {
  background-color: #fb774b;
  border-color: #fb774b;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 9px 15px;
  font-family: "Neucha", cursive;
}

section#popular-articles ul[articles-list] {
  list-style: none;
  padding-left: 0;

}

/*blog card*/
.blog-card {
  display: block;
  position: relative;
  max-width: 311px;
  height: 183px;
  margin: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.85);
  transition: all 450ms ease-out 0s;
  overflow: hidden;
  margin-bottom: 20px;
}

.blog-card .blog-img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  overflow: hidden;
}

.blog-card:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.85);
}

.blog-card:hover .text-overlay {
  background: rgba(255, 255, 255, 0.8);
  height: 50%;
  top: 50%;
  transition: all 450ms ease-in-out 0s;
}

.blog-card:hover p {
  height: 60px;
  transition: all 350ms ease-in-out 0s;
}

.blog-card:hover p a {
  visibility: visible;
}

.text-overlay {
  position: relative;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 40%;
  top: 60%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 12px;
  overflow: hidden;
  transition: all 450ms ease-in-out 0s;
  cursor: pointer;
}

.text-overlay h2 {
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0.0225em;
  width: auto;
  margin: 0;
  font-size: 0.9rem;
}

.text-overlay p {
  color: #555;
  width: 90%;
  height: 38px;
  margin: 8px 0;
  line-height: 1.25;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.7rem;
  text-align: justify;
}

.text-overlay a {
  color: #378aee;
  text-decoration: none;
  transition: all 350ms linear;
  visibility: hidden;
}

.text-overlay a:hover {
  color: #449cc5;
  border-bottom: 1px dotted #47a8f2;
}

.article__error,
.article__error-update {
  color: red;
  font-size: 0.8rem;
  display: block;
  margin: -4px auto -7px;
}

/* Cart */
#cart-container {
  overflow-x: auto;
}

#cart-container table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}

#cart-container table thead {
  font-weight: 700;
}

#cart-container table thead td {
  background-color: #fb774b;
  color: white;
  border: none;
  padding: 6px 0;
}

#cart-container table td {
  border: 1px solid #b6b3b3;
  text-align: center;
}

#cart-container table tbody img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}

#cart-container table tbody .product-title {
  cursor: pointer;
}

#cart-container table tbody input {
  width: 37px;
}

#cart-container table tbody i {
  font-size: 22px;
  color: #8d8c89;
  cursor: pointer;
}

#cart-bottom {
  color: #8d8c89;
}

#cart-bottom .cupon>div,
#cart-bottom .total>div {
  border: 1px solid #b6b3b3;
}

#cart-bottom .cupon h5,
#cart-bottom .total h5 {
  background-color: #fb774b;
  font-size: 24px;
  color: white;
  border: none;
  padding: 6px 12px;
  font-weight: 700;
}

#cart-bottom .cupon p,
#cart-bottom .cupon input {
  padding: 0 12px;
}

#cart-bottom .cupon input {
  height: 44px;
  font-size: 16px;
  width: 70%;
}

#cart-bottom .cupon input,
#cart-bottom .cupon button {
  margin: 0 0 20px 12px;
}

#cart-bottom .total div>div {
  padding: 0 12px;
}

#cart-bottom .total h6 {
  color: #2a2a2a;
}

.second-hr {
  background-color: #b8b7b3;
  width: 100%;
}

#cart-bottom .total div>button {
  margin: 0 12px 20px 0;
  display: flex;
  justify-content: flex-end;
}

.empty-cart__block {
  display: none;
  border: 1px solid #b6b3b3;
  color: white;
}

.empty-cart__block-title {
  background-color: #fb774b;
}

.empty-cart__block-bar {
  height: 3px;
  margin: 13px auto;
}

/* Contact */
#contact hr {
  margin: 1rem auto;
}

#contact form input {
  font-size: 1.2rem;
}

#contact form button {
  display: block;
  margin: 0 auto;
  background: #1d1d1d;
  transition: 0.3s all;
  letter-spacing: 3px;
}

#contact form button:hover {
  background: #fb774b;
  opacity: 1;
  padding: 13px 34px;
}

#contact label {
  font-size: 1.5rem;
}

#contact .select select {
  font-size: 1.2rem;
}

#contact .error {
  color: red;
  font-size: 0.8rem;
  display: block;
  margin: -4px auto -7px;
}

/* About Page */
#history hr {
  width: 25%;
}

.about__banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../images/about-banner.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: top 70px center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.about__banner-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.about__banner-item span {
  display: inline-block;
  padding: 33px 21px;
  border: 2px solid white;
  border-radius: 50%;
  color: #fb774b;
}

.about__banner-item p {
  margin-top: 10px;
  color: white;
}

.personal hr {
  display: inline-block;
  width: 15%;
}

.personal>div>div>div {
  cursor: pointer;

}

.personal>div>div>div img {
  transition: 0.5s ease;

}

.personal>div>div>div:hover img {
  filter: drop-shadow(0 0 0.75rem rgb(109, 103, 104));
}

.about__banner2 {
  background-image: url("../images/about-banner2.jpg");
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: top 70px center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.input button {
  background: #fb774b;
}

.input input {
  background: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
  padding-left: 10px;
}

.input input::placeholder {
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.about__items-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.about__items-wrapper i {
  color: #fb774b;
}

/* Search bar */
.search__bar {
  position: absolute;
  background-color: white;
  top: 115px;
  right: 395px;
  max-width: 350px;
  margin-top: 5px;
  margin-right: 36px;
  height: 38px;
  border-radius: 25px;
  padding: 10px 20px;
  display: none;
  align-items: center;
  transition: 0.8s;
  box-shadow: 0 0 10px 0 rgba(182, 172, 165, 0.938);
}

.search__bar:hover input {
  width: 350px;
  margin-right: 4px;
}

.search__bar .search__sugestion {
  padding-top: 9px;
  position: absolute;
  display: none;
  top: 29px;
  left: 0;
  border: none;
  border-bottom: none;
  border-top: none;
  z-index: -1;
  font: 16px Arial;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(182, 172, 165, 0.938);
}

.bottom__radius-off {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.bottom__radius-on {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  transition: 0.8s;
}

.top__radius-on {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.search__bar .suggest__item {
  list-style: none;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 0 0 18px;
  height: 38px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  transition: 0.4s;
}

.search__bar .suggest__item:hover {
  font-size: 17px;
}

.search__bar button {
  cursor: pointer;
}

.search__bar input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
  cursor: text;
}

.search__bar button {
  color: coral;
  transition: transform 500ms ease-out;
}

.search__bar button:hover {
  color: coral;
  transform: rotate(1turn);
}

.submit__button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 10px;
  font-size: 25px;
  cursor: pointer;
}

@keyframes lift {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 991px) {

  body>nav>div>button:hover,
  body>nav>div>button:focus {
    background-color: #fb774b;
  }

  body>nav>div>button:hover #bar>i,
  body>nav>div>button:focus #bar>i {
    color: white;
  }

  #navbarSupportedContent>ul {
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  #navbarSupportedContent>ul>li:nth-child(n)>a {
    padding: 10px 0;
  }

  .navbar-nav>li>span {
    top: 12px;
    right: 45px;
  }

  .search__bar {
    top: 473px;
    right: 86px;
  }

  .search__bar:hover input {
    width: 20vh;
  }
}